@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="animatedParent animateOnce">
    <p class="animated bounceInRight slower">Use this area to provide additional information.</p>
</div>

<section id="resume">
    <div class="container resumedldiv">
        <img class="img-responsive" src="~/Content/Images/net-developer.jpg" alt="Net Developer Code" />
        <div class="resumediv animatedParent">
            <h2 class="animated growIn slowest">My Resume</h2>
            <a class="btn btn-default btn-lg" href="#modal-download" data-toggle="modal" onclick="">
                <i class="fa fa-download fa-lg"></i>&nbsp;
                Download
            </a>
        </div>
    </div>
</section>