@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text animatedParent animateOnce">
            <div class="intro-lead-in animated growIn slower">“The more you know, </div>
            <div class="intro-heading animated growIn slower  delay-250">the more you realize you know nothing.”</div>
            <div class="intro-quotes animated growIn slower  delay-500">- Socrates</div>
        </div>
    </div>
</header>
<!-- Summery Section -->
<section id="summery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center animatedParent animateOnce">
                <h2 class="section-heading animated growIn slowest">Profile</h2>
                <h3 class="section-subheading text-muted">A bit about me.</h3>
            </div>
        </div>
        <div class="row text-center animatedParent">
            <div class="col-md-3 animated bounceInLeft slower">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">.Net Developer</h4>
                <p class="text-muted">@(DateTime.Now.Year - 2004) years extensive experince in .Net technologies(C#.Net, ASP.Net MVC, EntityFramework, LINQ, CodeFirst, Multi threading) in </p>
            </div>
            <div class="col-md-3 animated bounceInUp slower">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Designer</h4>
                <p class="text-muted">Ability to design creative responsive templates with strong skills in Photoshop, CSS3, HTML5, Javascript, JQuery, AngularJS, Bootstrap and etc.</p>
            </div>
            <div class="col-md-3 animated bounceInUp slower">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Team Lead</h4>
                <p class="text-muted">Outstanding team lead carismatic personality for being a successful teamlead in successful projects</p>
            </div>
            <div class="col-md-3 animated bounceInRight slower">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Analyst</h4>
                <p class="text-muted">Excellent Knowledge of technical and fundamental analyses of buissinesses and systems specially in field of travel and tourism</p>
            </div>
        </div>

        <p class="textcontent profiletext">
            <img src="~/Content/Images/ME.png" alt="Masoud Ehsani" style="float:left;padding:10px" />
            Creative, results driven technology leader and an excellent problem solver with a passion for staying at the cutting edge of technology. Recognized for keen ability to foresee some features the other can’t, in system analysis and design. Fast learning, patient, self-motivated and eager to face challenges. Proven ability to bring the benefits of IT to solve business issues while managing costs and risks. Able to coordinate and direct all phases of project-based efforts while managing, motivating and guiding teams to deliver the projects on time and on budget.
            <ol>
                <li>Excellent team working skills</li>
                <li>Excellent communication, negotiating and presentation skills</li>
                <li>The ability to work under pressure and to deadlines</li>
                <li>Can work in fast-paced environment while maintaining attention to detail</li>
            </ol>
        </p>

    </div>
</section>
<!-- Key Skills -->
<section id="keyskills" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center animatedParent animateOnce">
                <h2 class="section-heading animated growIn slowest">Key Skills</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-cs"></div>
                <p class="text-muted">Windows Form, Entity Framework, Multi Threading, CodeFirst, LINQ, ADO.Net</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-wdev"></div>
                <p class="text-muted">ASP.Net MVC, Razor, SignalR, WepAPI, Identity, WCF, OAUTH, AJAX</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-wdes"></div>
                <p class="text-muted">HTML5, CSS3,JavaScript, JQuery, Bootstrap, JQueryUI</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-scripts"></div>
                <p class="text-muted">AngularJS</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-sql"></div>
                <p class="text-muted">Database Design, T-SQL, Stored Procedures, DTS</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-sc"></div>
                <p class="text-muted">GIT, TFS</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-scrum"></div>
                <p class="text-muted">Agile Scrum,</p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div id="skill-tools"></div>
                <p class="text-muted">Visual Studio .Net 2003-2015, Management Studio 2000-2015, Microsoft Project, Photoshop CS, ExpressionStudio</p>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center animatedParent animateOnce">
                <h2 class="section-heading animated growIn slowest">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul  class="timeline">
                    <!-- Samita -->
                    <li class="animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-responsive" style="padding:5px;" src="~/Content/Images/Samita.png" alt="Samita Travel Logo">
                        </div>
                        <div class="timeline-panel animated bounceInLeft slow">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Samita, Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In the middle of 2015 Paradise e-Tourism of kish after rebranding have changed to Samita Holding with new services which are achivements of my team in recent years</p>
                            </div>
                        </div>
                    </li>
                    <!-- WebConf -->
                    <li class="timeline-inverted animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn" style="background: url(/Content/Images/WebConf.jpg) no-repeat; background-position:-60px -40px;">
                            @*<img class="img-circle img-responsive" src="~/images/WebConf.jpg" alt="">*@
                        </div>
                        <div class="timeline-panel animated bounceInRight slow">
                            <div class="timeline-heading">
                                <h4>Feb 2015</h4>
                                <h4 class="subheading">Exemplary by minister of telecommunications of Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Exemplary best activists in the field of web and mobile were praised in a ceremony with the minister of telecommunications, Dr. Vaezi and the chairman of Iran’s Information Technology organization, Mr. Jahangard in attendance.</p>
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ITCModal"><i class="fa fa-link fa-lg"></i> Visit official website</button>
                            </div>
                        </div>
                    </li>
                    <!-- Paradise2013-2015 -->
                    <li class="animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-responsive" src="~/Content/Images/Paradise-e-tourism-of-kish.png" style="padding:13px 0 0 22px" alt="Project Manager, Senior Analyst and Developer">
                        </div>
                        <div class="timeline-panel animated bounceInLeft slow">
                            <div class="timeline-heading">
                                <h4>2013-2015</h4>
                                <h4 class="subheading">Paradise e-Tourism of Kish, Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Project Manager, Senior Analyst and Developer in the well-known company in web-based travel and tourism industry in Iran</p>
                            </div>
                        </div>
                    </li>
                    <!-- TV -->
                    <li class="timeline-inverted animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-circle img-responsive" src="~/Content/Images/TV-20140510.jpg" alt="">
                        </div>
                        <div class="timeline-panel animated bounceInRight slow">
                            <div class="timeline-heading">
                                <h4>May 2014</h4>
                                <h4 class="subheading">Introduced as a successful young IT Man in well-known TV show IRIB</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Introduced as a successful young IT Man in well-known TV show IRIB</p>
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#TVShowModal"><i class="fa fa-film fa-lg"></i> Play Video</button>
                            </div>
                        </div>
                    </li>
                    <!-- Samen -->
                    <li class="animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-circle img-responsive" src="~/Content/Images/SamenLogo.jpg" alt="Project Manager, Senior Analyst and Developer">
                        </div>
                        <div class="timeline-panel animated bounceInLeft slow">
                            <div class="timeline-heading">
                                <h4>June 2011-Sep 2013</h4>
                                <h4 class="subheading">Samen Al Aemeh, Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Provide executive leadership as head of global IT. Responsible for all aspects of strategic IT planning, implementation and support worldwide as an integral component of business plan. Engineered turnaround of IT’s performance and service levels. Transform IT into a strategic business partner. Manage and deliver multiple large scale projects on time and within budget. Responsible for budgeting, design and support of technologies.</p>
                            </div>
                        </div>
                    </li>
                    <!-- Radshid -->
                    <li class="timeline-inverted animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-circle img-responsive" src="~/Content/Images/Radshid_Logo.png" alt="">
                        </div>
                        <div class="timeline-panel animated bounceInRight slow">
                            <div class="timeline-heading">
                                <h4>Feb 2011 -May 2011</h4>
                                <h4 class="subheading">Radshid Co., Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Design and develop and test www.parsigps.com(www.radishid.com) an AVL (Automatic Vehicle Location) system for tracking and giving real-time reports of vehicles using GPS trackers.</p>
                            </div>
                        </div>
                    </li>
                    <!-- Paradise2007-2011 -->
                    <li class="animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-circle img-responsive" src="~/Content/Images/Paradise-e-tourism-of-kish.png" alt="">
                        </div>
                        <div class="timeline-panel animated bounceInLeft slow">
                            <div class="timeline-heading">
                                <h4>Feb 2011 -May 2011</h4>
                                <h4 class="subheading">Radshid Co., Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Design and develop and test www.parsigps.com(www.radishid.com) an AVL (Automatic Vehicle Location) system for tracking and giving real-time reports of vehicles using GPS trackers.</p>
                            </div>
                        </div>
                    </li>
                    <!-- Behaco -->
                    <li class="timeline-inverted animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <img class="img-responsive" src="~/Content/Images/Behaco.png" style="padding:13px 0 0 22px" alt="Project Manager, Senior Analyst and Developer">
                        </div>
                        <div class="timeline-panel animated bounceInRight slow">
                            <div class="timeline-heading">
                                <h4>June 2007 - Feb 2011</h4>
                                <h4 class="subheading">Behaco(Behsani Andishe Co.), Isfahan, Iran</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Project Manager, Senior Analyst and Developer in the well-known company in web-based travel and tourism industry in Iran</p>
                            </div>
                        </div>
                    </li>
                    <!-- Begin -->
                    <li class="animatedParent animateOnce">
                        <div class="timeline-image animated rotateIn">
                            <h4>
                                Begining
                                <br>Of my professional
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section -->
<section id="resume">
    <div class="container resumedldiv">
        <img class="img-responsive" src="~/Content/Images/net-developer.jpg" alt="Net Developer Code" />
        <div class="resumediv animatedParent">
            <h2 class="animated growIn slowest">My Resume</h2>
            <a class="btn btn-default btn-lg" href="#modal-download" data-toggle="modal" onclick="">
                <i class="fa fa-download fa-lg"></i>&nbsp;
                Download
            </a>
        </div>
    </div>
</section>
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        @*<div class="row">
                <div class="col-lg-12 text-center animatedParent">
                    <h2 class="section-heading animated growIn slowest">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>*@
    </div>
</section>
<!-- Clients Aside -->
<aside class="clients">
    @*<div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center animatedParent animateOnce">
                        <h2 class="section-heading animated growIn slowest">Educations</h2>
                        <h3 class="section-subheading text-muted">A bit about me.</h3>
                    </div>
                </div>
                <div class="row text-center animatedParent">
                    <ol class="round">
                        <li>
                            <span>BS in Computer Engineering, University of Sepahan, Esfahan, Iran, 2011</span>
                        </li>
                        <li>
                            <span>Associated Degree in Computer Science, University of Shahrekord, Iran, 2008</span>
                        </li>
                        <li>
                            <span>Computer Technician Certificate, Emam Mohammad Bagher Vocational/Technical Highschool, Esfahan, Iran, 2005</span>
                        </li>
                    </ol>
                </div>
                <h3>Certificates</h3>
                <hr>
                <ol class="round">
                    <li>
                        <span> Principles of international trade and business, Sharif University of Technology, Tehran, Iran, 2014</span>
                    </li>
                </ol>
            </div>
        </div>*@

</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center animatedParent animateOnce">
                <h2 class="section-heading animated growIn slowest">Contact Me</h2>
                <h3 class="section-subheading text-muted">Please feel free to contact me</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <button type="button" onclick="sendmessage()" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Masoud Ehsani @DateTime.Now.Year</span>
                <div style="display:none;">
                    <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                        <meta itemprop="description" content="Senior .Net Developer
Web Developer
Web Designer
System Analyst
Teamlead">
                        <link itemprop="url" href="http://www.MasoudEhsani.com" rel="author" />
                        <a itemprop="url" href="http://www.MasoudEhsani.com"><span itemprop="name" style="display:block;"><strong>Masoud Ehsani</strong></span></a>
                        <span itemprop="jobtitle" style="display:block;">Senior ASP.Net Developer | Teamlead</span>
                        <span itemprop="email" style="display:block;">info@masoudehsani.com</span>
                        <span itemprop="telephone" style="display:block;">(+98) 913 80 80 160</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://plus.google.com/+Masoudehsani1"><i class="fa fa-google-plus-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/masoud.eh.3"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://ir.linkedin.com/in/masoudehsani"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="#">Old Websites</a>
                    </li>
                    @*<li>
                            <a href="#">Terms of Use</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Modals -->
<div id="TVShowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TV Show</h4>
            </div>
            <div class="modal-body">
                <div align="center" class="embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item" controls>
                        <source src="~/Content/Videos/Masoud-Ehsani-8-Behesht.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="ITCModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ITC National Conference</h4>

            </div>
            <div class="modal-body">
                <a href="http://itc.ir/Default.aspx?tabid=41&mid=525&ctl=ArticleView&articleId=15405">
                    <div style="display:block;width:550px;height:400px;overflow-y:scroll">
                        <img src="~/Content/Images/ITC-Snapshot.jpg" alt="ITC National Annual Conference Website" />
                    </div>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/raphael.2.1.0.min.js"></script>
    <script src="~/Scripts/justgage.1.0.1.min.js"></script>
}